/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Define the body style */
body {
    font-family: "Arial", sans-serif;
    background-color: #f0f8ff;
    color: #333;
    font-size: 16px;
    height: 100vh;
    width: 100vw;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    color: #fff;
    background-image: url(https://4.bp.blogspot.com/-2VRNdggYAgQ/W1a4g3dvDTI/AAAAAAABNgE/nNiEgghSMTwYS0QgcNdQg6uCu_Ph38BjACLcBGAs/s800/bg_snow_diamond_dust.jpg);
}

h1  {
    font-size: clamp(16px, 16px + 3vw, 64px);
}

nav {
    display: flex;
    justify-content: end;
    flex-wrap: wrap;
}

.headbutton {
    font-size: max(16px, 2vw);
    padding: 0.5rem 0.6vw;
    margin: 0.1vw 0.3vw;
    border: none;
    border-radius: 0.5em;
    background-color: skyblue;
    color: #fff;
    cursor: pointer;
    transition: 0.5s;
}

.headbutton a {
    color: #fff;
    text-decoration: none;
}

/* Main content style */
#action {
    display: flex;
    justify-content: center;
    margin: 3rem 2rem
}

/* Form style */
#action form {
    display: grid;
    margin-top: 6vw;
    grid-template-columns: repeat(3, 1fr);
    gap: 4vw;
}

#action button {
    font-size: max(16px, 4vw);
    height: 10rem;
    width: 30vw;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 0.8em;
    background-color: #87ceeb;
    color: #fff;
    cursor: pointer;
    transition: 0.3s ease-in-out;

    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#action button i {
    font-size: 3rem;
    margin-bottom: 0.5rem;
}

#action button span {
    display: block;
    text-align: center;
}

/* Button hover effect */
button:hover {
    background-color: #00bfff;
}

#celebration {
    position:fixed;
    z-index: 1;
    /* margin: auto; */
    opacity: 0;
    width: 65%;
    transition: 3s;
}