/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Define the body style */
body {
    font-family: "Arial", sans-serif;
    background-color: #f0f8ff;
    color: #333;
}

/* Header style */
header {
    font-size: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    padding-right: 2.5rem;
    /* background-color: #ffa07a; */
    color: #fff;
    background-image: url(https://4.bp.blogspot.com/-2VRNdggYAgQ/W1a4g3dvDTI/AAAAAAABNgE/nNiEgghSMTwYS0QgcNdQg6uCu_Ph38BjACLcBGAs/s800/bg_snow_diamond_dust.jpg);
}

/* Reset button style */
.headbutton {
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.5em;
    background-color: skyblue;
    color: #fff;
    cursor: pointer;
    transition: 0.5s;
}

.headbutton a {
    color: #fff;
    text-decoration: none;
}

/* Main content style */
#action {
    display: flex;
    justify-content: center;
    margin: 3rem 2rem
}

/* Form style */
#action form {
    display: grid;
    margin-top: 4rem;
    grid-template-columns: repeat(3, 1fr);
    gap: 5rem;
}

#action button {
    font-size: 1.75rem;
    height: 10rem;
    width: 15rem;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 0.8em;
    background-color: #87ceeb;
    color: #fff;
    cursor: pointer;
    transition: 0.3s ease-in-out;

    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#action button i {
    font-size: 3rem;
    /* アイコンサイズを3remに変更 */
    margin-bottom: 0.5rem;
}


#action button span {
    display: block;
    text-align: center;
}


/* Button hover effect */
#action button:hover {
    background-color: #00bfff;
}

.headbutton:hover {
    background-color: #00bfff;
}


#celebration {
    opacity: 0;
    width: 65%;
    transition: 3s;
}

@media (max-width:930px) {
    .headbutton {
        font-size: 1.0rem;
    }
}

@media (max-width:840px) {

    h1 {
        font-size: 2rem;
    }

    #action button {
        font-size: 1.45rem;
        height: 8rem;
        width: 12rem;
        padding: 1.2rem;
    }

    #action form {
        gap: 3rem;
    }
}

@media (max-width:400px) {

    h1 {
        font-size: 1.5rem;
    }

    #action button {
        font-size: 0.55rem;
        height: 4rem;
        width: 7rem;
        padding: 0.2rem;
    }
    
      #action button i{
        font-size: 0.5rem
        margin-bottom: 0.2rem;
    }

    #action form {
    margin-top: 1rem;
    display: flex;
}
}